<!--div>
  <br />
  <div>
    <form action="">
      <i class="pi pi-search"></i>
      <input
        type="text"
        placeholder="Busca: Primeiro Nome"
        (input)="search($event)"
      />
    </form>
  </div>
  <ul>
    <li *ngFor="let partner of partners">
      Partner id: {{ partner.partner_id }} - {{ partner.partner_first_name }}
      {{ partner.partner_last_name }}
    </li>
  </ul>
</div-->

<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <p-table [value]="partners" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Instagram</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-partner>
      <tr>
        <td>
          <a routerLink="{{ partner.partner_id }}"> {{ partner.partner_id }}</a>
        </td>
        <td>
          {{ partner.partner_first_name }} {{ partner.partner_last_name }}
        </td>
        <td>{{ partner.partner_email }}</td>
        <td>{{ partner.partner_status }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
